* {
    margin:0;
    padding:0;
}

header, .main, footer {
    width:90%;
    max-width:1000px;
    margin:20px auto;
}

header nav {
    background:#528fd5;
    overflow:hidden;
}

header nav ul {
    list-style:none;
}

header nav ul li {
    float:left;
}
header nav ul li a {
    padding:10px 20px;
    display:block;
    color:#fff;
    text-decoration:none;
}

header nav ul li a:hover{
    background:#75acec
}
body {
    background:#e6e6e6;
}

.main .articles {
    width:70%;
    float:left;
    
}